.bg-one {
    background-color: #353b43;
}
.bg-two {
    background-color: #242930;
}


#navigation > div > a > img{
width:80px;
}

.copyright > a > img{
width:130px;
}


.hpot {
  display: none;
}

/*.navigation {
    background-color: #4f4a41;
    width: 100%;
    margin-bottom: 0;
}

.bg-one {
    background-color: #6e6658;
}

.navigation .navigation-menu li a.active {
    color: #88bdbc;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #88bdbc;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation-delay: 0s;
}

.section-bg {
    background: #4f4a41;
        background-attachment: scroll;
}

.about .block {
    background: #4f4a41;
    padding: 30px;
    border-bottom: 2px solid transparent;
    transition: .5s all;
    margin-bottom: 20px;
}

.title h2 span {
    color: #88bdbc;
}*/